li a {
  text-decoration: none;
  color: deepskyblue;
}

#sidebar {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  position: absolute;
  right: 4%;
  top: 5%;
  gap: 3.5rem;
}

#sidebar li {
  font-weight: 500;
}

#sidebar > li:nth-child(3) {
  margin: 0 -2rem;
}

#sidebar a.active {
  text-decoration: underline;
}

.logo {
  width: 5%;
  position: absolute;
}

nav {
  padding: 2% 3%;
}

.title {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0.7%;
  margin-left: 7%;
  height: 2.5rem;
}

.bar {
  margin-bottom: 0;
}

.separator {
  border: 1px solid rgba(0, 0, 0, 0.27);
}
